h2,h3,h4{
  text-transform: uppercase;
}
h2{
  font-family: $ff;
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}
h3{
  font-family: $ff;
  font-size: 1.875em;
  font-weight: 600;
}
h4{
  font-family: $ff;
  font-size: 1.250em;
  font-weight: 600;
}