$col-or: #ffce76;
$col-wh: #ffffff;
$col-gr:#749d26;
$col-bl:#599ba7;
$col-bur:#352b30;
$col-black:#000000;
$col-fl: #f9fafc;
$col-fd: #181817;
$col-new:#fd402c;
$col-news:#31302d;
$col-contact:#a8a8a7;

$ff: 'Poppins', sans-serif;
